archive/
archive.zip
runs/
__pycache__/
drishti_kavach_env/
face_recognition/dataset/
ocr_detection/datasets/*
!ocr_detection/datasets/dataset_splitter.py
ocr_detection/number_plate_pic/number_plates_pics/
ocr_detection/number_plate_pic/car images/
*.zip
*.onnx